<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/style-Forbidden-Device.css">
    <title>Atlanta store</title>
</head>
<body>
    <div class="background">
    <img class="background1 bac" src="/static/img/Vector 83.png" alt="">
    <img class="background2 bac" src="/static/img/Vector 84.png" alt="">
    </div>
<div class="box">
    <img class="logo" src="/static/img/Vector_Logo.svg" alt="">
</div>
<div class="alert">
    <div class="block">
        <div class="Enclosure">
            <p>На данный момент сервис Atlanta не доступен на телефоны</p>
        </div>
    </div>
</div>
<div class="connection">
    <a target="_blank" href="https://web.telegram.org/k/#@zukoNaimov"><img src="/static/img/Vector_Telegram.svg" alt=""></a>
    <a target="_blank" href=""><img src="/static/img/Vector_Email.svg" alt=""></a>
    <details>
        <summary><img src="/static/img/Vector_Telephone.svg" alt=""></summary>
        <p class="pop">+7(996)775-06-28</p>
    </details>
</div>
</body>
</html>