<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/style-index.css">
    <title>Atlanta store</title>
</head>
<body ondragstart="return false;" ondrop="return false;">
    <div class="background">
    <img class="main-background" src="/static/img/PNG_Main-background.png" alt="">
    </div>
<div class="header">
    <div class="wrap">
    <div class="header_line">
        <div class="header_img">
            <img class="header_logo" src="/static/img/Vector_Logo.svg" alt="">
        </div>
        <div class="header_nav">
            <a class="header_nav_link" href="#">link</a>
            <a class="header_nav_link" href="#">link</a>
            <a class="header_nav_link" href="#">link</a>
        </div>
        <div class="header_nav_cotact">
            <a target="_blank" class="header_nav_cotact_link" href="https://web.telegram.org/k/#@zukoNaimov"><img class="header_nav_img" src="./static/img/Vector_Telegram.svg" alt=""></a>
            <a target="_blank" class="header_nav_cotact_link" href=""><img class="header_nav_img" src="./static/img/Vector_Email.svg" alt=""></a>
            <div class="cont">
            <button class="header_nav_cotact_link but" href=""><img class="header_nav_img" src="./static/img/Vector_Telephone.svg" alt=""></button>
            <p class="hint">+7(996)775-06-28</p>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="bg">
<p>text</p><br>
<p>text</p>
</div>
<h1>Всем привет</h1>
<h3>Всем привет</h3>
<p>Всем привет</p>
<a href="">Всем привет</a>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
<p>Всем привет</p>
</body>
</html>